.flex {
  display: flex;
}

.allContentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 116px;
  text-align: center;
  line-height: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.inputFormContainer {
  display: flex;
  justify-content: space-around;
  gap: 5px;
  align-items: center;
  width: 100%;
  margin: 0 0 30px;
}

.mark {
  font-size: 40px;
  margin-right: 10px;
  height: 40px;
  width: 60px;
}

.formControlContainer {
  display: flex;
}

.button {
  margin-left: 10px;
}

@media screen and (max-width: 400px) {
  .buttonIn,
  .buttonOut {
    font-size: 10px;
  }
} @media screen and (max-width: 605px) {
  .mark {
    margin-top: 15px;
  }
  .formControlContainer {
    flex-direction: column;
  }
  .buttonIn,
  .buttonOut {
    height: 40px;
    margin-top: 18px;
  }
} @media screen and (max-width: 1160px) {
  .inputFormContainer {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
}