.formContainer {
  position: relative;
  width: 300px;
  height: 50px;
  border: 1px solid black;
  margin: 0 auto 10px; 

  .money {
    position: absolute;
    top: 2px;
    right: 5px;
    font-size: 30px;
  }
  
  .btn {
    position: absolute;
    right: -70px;
    top: 5px; 
    box-shadow: 0px 5px black
  }
  
  .pushedBtn {
    position: absolute;
    right: -70px;
    top: 5px; 
    box-shadow: none;
    transform: translateY(5px);
    transition: .2s;
  }
}


@media screen and (max-width: 605px) {
  .formContainer {
    margin-bottom: 60px;
    
    .btn,
    .pushedBtn {
      right: 120px;
      top: 60px;
    }
  }
}